@{
    ViewBag.Title = "Contact";
}
<h3>Contact</h3>


<div>
    <p>Created by Pavel Klochkov</p>
</div>

<address>
    <strong>Support:</strong>   <a href="mailto:pavel.klochkow@gmail.com">pavel.klochkow@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="skype:live:pavel.klochkow">Skype</a>
</address>